:root {
    --rainbow-color:linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

@font-face {
    font-family: RobloxFont;
    src: url(fonts/OldRobloxFontRegular-0WYjo.ttf);
}

@font-face {
    font-family: RobloxFontV2;
    src: url(fonts/RobloxFont121Regular-axoyE.ttf);
}

body {
    background: var(--rainbow-color);
    text-align: center; 
    font-family: RobloxFont;
    font-size: 200%;
    min-height: 100vh;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 75px 0;

}

p {
    color:rgb(255,255,255);
    margin: 50px;
}
h1 { 
    border: 20px ridge rgb(70, 255, 3);
    font-family:RobloxFontV2;
    padding: 30px;
    margin: auto;
    width: 400px;
}
a {
    color: black;
}
.main-header {
    font-size: 60px; 
    color: gold;
}

#pong-body
{
    font-family: Arial, Helvetica, sans-serif;
}
.secondary-txt
{
    font-family: RobloxFontV2;   
}

ul {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #757575;
  }

  #navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black; }