:root {
    --rainbow-color:linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

@font-face {
    font-family: RobloxFont;
    src: url(OldRobloxFontRegular-0WYjo.ttf);
}

@font-face {
    font-family: RobloxFontV2;
    src: url(RobloxFont121Regular-axoyE.ttf);
}

body {
    background: var(--rainbow-color);
    text-align: center; 
    font-family: RobloxFont;
    font-size: 200%;
}

p {
    color:rgb(255,255,255);
}
h1 { 
    border: 20px ridge rgb(70, 255, 3);
    font-family:RobloxFontV2;
    padding: 30px;
}